{% extends 'customer/base.html' %}

{% block content %}

<section class="page-content faq-page">
    <div class="main-title h2">
        <h2>For customers</h2>
        <div class="text">
            Our sushi is the most delicious in the city. We prepare them with the freshest products and observe complete cleanliness in the kitchen. See what is included in your roll:
        </div>
    </div> 
</section>
<section class="main">
    <div class="advanced">
        <div class="item">
            <div class="img">
                <img src="https://ninjasushi.com.ua/img/image1.svg">
            </div>
            <div class="item-text">
                <div class="title">Fresh made</div>
                <div class="text">We guarantee freshness of products and do not use frozen fish</div>
            </div>
        </div>
        
        <div class="item">
            <div class="img">
                <img src="https://ninjasushi.com.ua/img/image2.svg">
            </div>
            <div class="item-text">
                <div class="title">Chef recipes</div>
                <div class="text">We offer both classic sushi and original recipes from the chef</div>
            </div>
        </div>
        
        <div class="item">
            <div class="img">
                <img src="https://ninjasushi.com.ua/img/image3.svg">
            </div>
            <div class="item-text">
                <div class="title">Quality ingredients</div>
                <div class="text">We do not use flavor enhancers. All products are purchased from trusted suppliers</div>
            </div>
        </div>
        
        <div class="item">
            <div class="img">
                <img src="https://ninjasushi.com.ua/img/image4.svg">
            </div>
            <div class="item-text">
                <div class="title">Clean kitchen</div>
                <div class="text">The whole cooking process takes place in accordance with all sanitary standard</div>
            </div>
        </div>
    </div>
</section>
<div class="codex">
    <div class="codex">
        <h2>Ninja Sushi Codex</h2>
        <div class="text">

        </div>
    </div>
    <div class="content">
        <div class="boxes">
            <div class="box">
                <span>01</span>
                <div class="box-text">
                    Do not save on roll volume
                </div>
            </div>
            <div class="box">
                <span>02</span>
                <div class="box-text">
                    Do not leave the dog and cat hungry
                </div>
            </div>
            <div class="box">
                <span>03</span>
                <div class="box-text">
                    Deliver the order on time and without stress for the customer
                </div>
            </div>
            <div class="box">
                <span>04</span>
                <div class="box-text">
                    Follow the traditions of Japanese cuisine
                </div>
            </div>
        </div>
        <div class="image">
            <img src="https://ninjasushi.com.ua/img/ninja-1.svg">
        </div>
    </div>
</div>
{% endblock content %}