{% extends 'customer/base.html' %}

{% block content %}
<section class="main">
    <div class="slider swiper-container" id="slider">
        <div class="swiper-wrapper">
            <div class="slide swiper-slide">
                <div class="title">
                    <h2>Sushi delivery for true connoisseurs</h2>
                    <div>Order premium sushi for the whole company - home and office!<br>
                        <a href="{% url 'menu' %}" class="slide-btn">Order now</a>
                    </div>
                </div>
                <img src="https://ninjasushi.com.ua/img/bm2.jpg" class="bg-img">
                <img src="https://ninjasushi.com.ua/img/bm2m.jpg" class="mb-bg-img">
            </div>
        </div>
    </div>
{% endblock content %}
</section>